@-webkit-keyframes _idGenKeyFrames-0 {
0% { -webkit-transform:translate(0px,109px) ; opacity:0; }
3.4783% { -webkit-transform:translate(0px,95px) ; opacity:0.043; }
6.9565% { -webkit-transform:translate(0px,83px) ; opacity:0.087; }
10.4348% { -webkit-transform:translate(0px,72px) ; opacity:0.13; }
13.913% { -webkit-transform:translate(0px,61px) ; opacity:0.174; }
17.3913% { -webkit-transform:translate(0px,52px) ; opacity:0.217; }
20.8696% { -webkit-transform:translate(0px,44px) ; opacity:0.261; }
24.3478% { -webkit-transform:translate(0px,37px) ; opacity:0.304; }
27.8261% { -webkit-transform:translate(0px,30px) ; opacity:0.348; }
31.3043% { -webkit-transform:translate(0px,25px) ; opacity:0.391; }
34.7826% { -webkit-transform:translate(0px,20px) ; opacity:0.435; }
38.2609% { -webkit-transform:translate(0px,15px) ; opacity:0.478; }
41.7391% { -webkit-transform:translate(0px,12px) ; opacity:0.522; }
45.2174% { -webkit-transform:translate(0px,9px) ; opacity:0.565; }
48.6957% { -webkit-transform:translate(0px,7px) ; opacity:0.609; }
52.1739% { -webkit-transform:translate(0px,5px) ; opacity:0.652; }
55.6522% { -webkit-transform:translate(0px,3px) ; opacity:0.696; }
59.1304% { -webkit-transform:translate(0px,2px) ; opacity:0.739; }
62.6087% { -webkit-transform:translate(0px,1px) ; opacity:0.783; }
66.087% { -webkit-transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { -webkit-transform:translate(0px,0px) ; opacity:0.87; }
73.0435% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
80% { -webkit-transform:translate(0px,0px) ; opacity:1; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { transform:translate(0px,109px) ; opacity:0; }
3.4783% { transform:translate(0px,95px) ; opacity:0.043; }
6.9565% { transform:translate(0px,83px) ; opacity:0.087; }
10.4348% { transform:translate(0px,72px) ; opacity:0.13; }
13.913% { transform:translate(0px,61px) ; opacity:0.174; }
17.3913% { transform:translate(0px,52px) ; opacity:0.217; }
20.8696% { transform:translate(0px,44px) ; opacity:0.261; }
24.3478% { transform:translate(0px,37px) ; opacity:0.304; }
27.8261% { transform:translate(0px,30px) ; opacity:0.348; }
31.3043% { transform:translate(0px,25px) ; opacity:0.391; }
34.7826% { transform:translate(0px,20px) ; opacity:0.435; }
38.2609% { transform:translate(0px,15px) ; opacity:0.478; }
41.7391% { transform:translate(0px,12px) ; opacity:0.522; }
45.2174% { transform:translate(0px,9px) ; opacity:0.565; }
48.6957% { transform:translate(0px,7px) ; opacity:0.609; }
52.1739% { transform:translate(0px,5px) ; opacity:0.652; }
55.6522% { transform:translate(0px,3px) ; opacity:0.696; }
59.1304% { transform:translate(0px,2px) ; opacity:0.739; }
62.6087% { transform:translate(0px,1px) ; opacity:0.783; }
66.087% { transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { transform:translate(0px,0px) ; opacity:0.87; }
73.0435% { transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { transform:translate(0px,0px) ; opacity:0.957; }
80% { transform:translate(0px,0px) ; opacity:1; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { -webkit-transform:translate(0px,104px) ; opacity:0; }
3.4783% { -webkit-transform:translate(0px,91px) ; opacity:0.043; }
6.9565% { -webkit-transform:translate(0px,80px) ; opacity:0.087; }
10.4348% { -webkit-transform:translate(0px,69px) ; opacity:0.13; }
13.913% { -webkit-transform:translate(0px,59px) ; opacity:0.174; }
17.3913% { -webkit-transform:translate(0px,50px) ; opacity:0.217; }
20.8696% { -webkit-transform:translate(0px,42px) ; opacity:0.261; }
24.3478% { -webkit-transform:translate(0px,35px) ; opacity:0.304; }
27.8261% { -webkit-transform:translate(0px,29px) ; opacity:0.348; }
31.3043% { -webkit-transform:translate(0px,24px) ; opacity:0.391; }
34.7826% { -webkit-transform:translate(0px,19px) ; opacity:0.435; }
38.2609% { -webkit-transform:translate(0px,15px) ; opacity:0.478; }
41.7391% { -webkit-transform:translate(0px,11px) ; opacity:0.522; }
45.2174% { -webkit-transform:translate(0px,9px) ; opacity:0.565; }
48.6957% { -webkit-transform:translate(0px,6px) ; opacity:0.609; }
52.1739% { -webkit-transform:translate(0px,4px) ; opacity:0.652; }
55.6522% { -webkit-transform:translate(0px,3px) ; opacity:0.696; }
59.1304% { -webkit-transform:translate(0px,2px) ; opacity:0.739; }
62.6087% { -webkit-transform:translate(0px,1px) ; opacity:0.783; }
66.087% { -webkit-transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { -webkit-transform:translate(0px,0px) ; opacity:0.87; }
73.0435% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
80% { -webkit-transform:translate(0px,0px) ; opacity:1; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { transform:translate(0px,104px) ; opacity:0; }
3.4783% { transform:translate(0px,91px) ; opacity:0.043; }
6.9565% { transform:translate(0px,80px) ; opacity:0.087; }
10.4348% { transform:translate(0px,69px) ; opacity:0.13; }
13.913% { transform:translate(0px,59px) ; opacity:0.174; }
17.3913% { transform:translate(0px,50px) ; opacity:0.217; }
20.8696% { transform:translate(0px,42px) ; opacity:0.261; }
24.3478% { transform:translate(0px,35px) ; opacity:0.304; }
27.8261% { transform:translate(0px,29px) ; opacity:0.348; }
31.3043% { transform:translate(0px,24px) ; opacity:0.391; }
34.7826% { transform:translate(0px,19px) ; opacity:0.435; }
38.2609% { transform:translate(0px,15px) ; opacity:0.478; }
41.7391% { transform:translate(0px,11px) ; opacity:0.522; }
45.2174% { transform:translate(0px,9px) ; opacity:0.565; }
48.6957% { transform:translate(0px,6px) ; opacity:0.609; }
52.1739% { transform:translate(0px,4px) ; opacity:0.652; }
55.6522% { transform:translate(0px,3px) ; opacity:0.696; }
59.1304% { transform:translate(0px,2px) ; opacity:0.739; }
62.6087% { transform:translate(0px,1px) ; opacity:0.783; }
66.087% { transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { transform:translate(0px,0px) ; opacity:0.87; }
73.0435% { transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { transform:translate(0px,0px) ; opacity:0.957; }
80% { transform:translate(0px,0px) ; opacity:1; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
3.4783% { -webkit-transform:translate(269px,0px) ; opacity:0.043; }
6.9565% { -webkit-transform:translate(234px,0px) ; opacity:0.087; }
10.4348% { -webkit-transform:translate(202px,0px) ; opacity:0.13; }
13.913% { -webkit-transform:translate(173px,0px) ; opacity:0.174; }
17.3913% { -webkit-transform:translate(147px,0px) ; opacity:0.217; }
20.8696% { -webkit-transform:translate(124px,0px) ; opacity:0.261; }
24.3478% { -webkit-transform:translate(103px,0px) ; opacity:0.304; }
27.8261% { -webkit-transform:translate(85px,0px) ; opacity:0.348; }
31.3043% { -webkit-transform:translate(69px,0px) ; opacity:0.391; }
34.7826% { -webkit-transform:translate(55px,0px) ; opacity:0.435; }
38.2609% { -webkit-transform:translate(44px,0px) ; opacity:0.478; }
41.7391% { -webkit-transform:translate(34px,0px) ; opacity:0.522; }
45.2174% { -webkit-transform:translate(25px,0px) ; opacity:0.565; }
48.6957% { -webkit-transform:translate(18px,0px) ; opacity:0.609; }
52.1739% { -webkit-transform:translate(13px,0px) ; opacity:0.652; }
55.6522% { -webkit-transform:translate(9px,0px) ; opacity:0.696; }
59.1304% { -webkit-transform:translate(5px,0px) ; opacity:0.739; }
62.6087% { -webkit-transform:translate(3px,0px) ; opacity:0.783; }
66.087% { -webkit-transform:translate(2px,0px) ; opacity:0.826; }
69.5652% { -webkit-transform:translate(1px,0px) ; opacity:0.87; }
73.0435% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
80% { -webkit-transform:translate(0px,0px) ; opacity:1; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { transform:translate(307px,0px) ; opacity:0; }
3.4783% { transform:translate(269px,0px) ; opacity:0.043; }
6.9565% { transform:translate(234px,0px) ; opacity:0.087; }
10.4348% { transform:translate(202px,0px) ; opacity:0.13; }
13.913% { transform:translate(173px,0px) ; opacity:0.174; }
17.3913% { transform:translate(147px,0px) ; opacity:0.217; }
20.8696% { transform:translate(124px,0px) ; opacity:0.261; }
24.3478% { transform:translate(103px,0px) ; opacity:0.304; }
27.8261% { transform:translate(85px,0px) ; opacity:0.348; }
31.3043% { transform:translate(69px,0px) ; opacity:0.391; }
34.7826% { transform:translate(55px,0px) ; opacity:0.435; }
38.2609% { transform:translate(44px,0px) ; opacity:0.478; }
41.7391% { transform:translate(34px,0px) ; opacity:0.522; }
45.2174% { transform:translate(25px,0px) ; opacity:0.565; }
48.6957% { transform:translate(18px,0px) ; opacity:0.609; }
52.1739% { transform:translate(13px,0px) ; opacity:0.652; }
55.6522% { transform:translate(9px,0px) ; opacity:0.696; }
59.1304% { transform:translate(5px,0px) ; opacity:0.739; }
62.6087% { transform:translate(3px,0px) ; opacity:0.783; }
66.087% { transform:translate(2px,0px) ; opacity:0.826; }
69.5652% { transform:translate(1px,0px) ; opacity:0.87; }
73.0435% { transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { transform:translate(0px,0px) ; opacity:0.957; }
80% { transform:translate(0px,0px) ; opacity:1; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { }
100% { }
} 
@keyframes _idGenKeyFrames-3 {
0% { }
100% { }
} 
@-webkit-keyframes _idGenKeyFrames-4 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-4 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-5 {
0% { -webkit-transform:translate(-307px,0px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-269px,0px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-234px,0px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-202px,0px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-173px,0px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(-147px,0px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(-124px,0px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(-103px,0px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(-85px,0px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(-69px,0px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(-55px,0px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(-44px,0px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(-34px,0px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(-25px,0px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(-18px,0px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(-13px,0px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(-9px,0px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(-5px,0px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(-3px,0px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(-2px,0px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(-1px,0px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-5 {
0% { transform:translate(-307px,0px) ; opacity:0; }
4.3478% { transform:translate(-269px,0px) ; opacity:0.043; }
8.6957% { transform:translate(-234px,0px) ; opacity:0.087; }
13.0435% { transform:translate(-202px,0px) ; opacity:0.13; }
17.3913% { transform:translate(-173px,0px) ; opacity:0.174; }
21.7391% { transform:translate(-147px,0px) ; opacity:0.217; }
26.087% { transform:translate(-124px,0px) ; opacity:0.261; }
30.4348% { transform:translate(-103px,0px) ; opacity:0.304; }
34.7826% { transform:translate(-85px,0px) ; opacity:0.348; }
39.1304% { transform:translate(-69px,0px) ; opacity:0.391; }
43.4783% { transform:translate(-55px,0px) ; opacity:0.435; }
47.8261% { transform:translate(-44px,0px) ; opacity:0.478; }
52.1739% { transform:translate(-34px,0px) ; opacity:0.522; }
56.5217% { transform:translate(-25px,0px) ; opacity:0.565; }
60.8696% { transform:translate(-18px,0px) ; opacity:0.609; }
65.2174% { transform:translate(-13px,0px) ; opacity:0.652; }
69.5652% { transform:translate(-9px,0px) ; opacity:0.696; }
73.913% { transform:translate(-5px,0px) ; opacity:0.739; }
78.2609% { transform:translate(-3px,0px) ; opacity:0.783; }
82.6087% { transform:translate(-2px,0px) ; opacity:0.826; }
86.9565% { transform:translate(-1px,0px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-6 {
0% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
4.3478% { -webkit-transform:translate(-1px,204px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(-1px,177px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(-1px,153px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(-1px,131px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(0px,112px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(0px,94px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(0px,78px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(0px,65px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(0px,53px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(0px,42px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(0px,33px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(0px,25px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(0px,19px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(0px,14px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(0px,10px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(0px,7px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(0px,4px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(0px,2px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(0px,1px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(0px,1px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-6 {
0% { transform:translate(-1px,233px) ; opacity:0; }
4.3478% { transform:translate(-1px,204px) ; opacity:0.043; }
8.6957% { transform:translate(-1px,177px) ; opacity:0.087; }
13.0435% { transform:translate(-1px,153px) ; opacity:0.13; }
17.3913% { transform:translate(-1px,131px) ; opacity:0.174; }
21.7391% { transform:translate(0px,112px) ; opacity:0.217; }
26.087% { transform:translate(0px,94px) ; opacity:0.261; }
30.4348% { transform:translate(0px,78px) ; opacity:0.304; }
34.7826% { transform:translate(0px,65px) ; opacity:0.348; }
39.1304% { transform:translate(0px,53px) ; opacity:0.391; }
43.4783% { transform:translate(0px,42px) ; opacity:0.435; }
47.8261% { transform:translate(0px,33px) ; opacity:0.478; }
52.1739% { transform:translate(0px,25px) ; opacity:0.522; }
56.5217% { transform:translate(0px,19px) ; opacity:0.565; }
60.8696% { transform:translate(0px,14px) ; opacity:0.609; }
65.2174% { transform:translate(0px,10px) ; opacity:0.652; }
69.5652% { transform:translate(0px,7px) ; opacity:0.696; }
73.913% { transform:translate(0px,4px) ; opacity:0.739; }
78.2609% { transform:translate(0px,2px) ; opacity:0.783; }
82.6087% { transform:translate(0px,1px) ; opacity:0.826; }
86.9565% { transform:translate(0px,1px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-7 {
0% { -webkit-transform:scale(1,1) ; }
17.3913% { -webkit-transform:scale(1.32,1.32) ; }
39.1304% { -webkit-transform:scale(1,1) ; }
60.8696% { -webkit-transform:scale(1.8,1.8) ; }
82.6087% { -webkit-transform:scale(1,1) ; }
100% { -webkit-transform:scale(1,1) ; }
} 
@keyframes _idGenKeyFrames-7 {
0% { transform:scale(1,1) ; }
17.3913% { transform:scale(1.32,1.32) ; }
39.1304% { transform:scale(1,1) ; }
60.8696% { transform:scale(1.8,1.8) ; }
82.6087% { transform:scale(1,1) ; }
100% { transform:scale(1,1) ; }
} 
@-webkit-keyframes _idGenKeyFrames-8 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-8 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-9 {
0% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
3.4783% { -webkit-transform:translate(-1px,204px) ; opacity:0.043; }
6.9565% { -webkit-transform:translate(-1px,177px) ; opacity:0.087; }
10.4348% { -webkit-transform:translate(-1px,153px) ; opacity:0.13; }
13.913% { -webkit-transform:translate(-1px,131px) ; opacity:0.174; }
17.3913% { -webkit-transform:translate(0px,112px) ; opacity:0.217; }
20.8696% { -webkit-transform:translate(0px,94px) ; opacity:0.261; }
24.3478% { -webkit-transform:translate(0px,78px) ; opacity:0.304; }
27.8261% { -webkit-transform:translate(0px,65px) ; opacity:0.348; }
31.3043% { -webkit-transform:translate(0px,53px) ; opacity:0.391; }
34.7826% { -webkit-transform:translate(0px,42px) ; opacity:0.435; }
38.2609% { -webkit-transform:translate(0px,33px) ; opacity:0.478; }
41.7391% { -webkit-transform:translate(0px,25px) ; opacity:0.522; }
45.2174% { -webkit-transform:translate(0px,19px) ; opacity:0.565; }
48.6957% { -webkit-transform:translate(0px,14px) ; opacity:0.609; }
52.1739% { -webkit-transform:translate(0px,10px) ; opacity:0.652; }
55.6522% { -webkit-transform:translate(0px,7px) ; opacity:0.696; }
59.1304% { -webkit-transform:translate(0px,4px) ; opacity:0.739; }
62.6087% { -webkit-transform:translate(0px,2px) ; opacity:0.783; }
66.087% { -webkit-transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { -webkit-transform:translate(0px,1px) ; opacity:0.87; }
73.0435% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
80% { -webkit-transform:translate(0px,0px) ; opacity:1; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-9 {
0% { transform:translate(-1px,233px) ; opacity:0; }
3.4783% { transform:translate(-1px,204px) ; opacity:0.043; }
6.9565% { transform:translate(-1px,177px) ; opacity:0.087; }
10.4348% { transform:translate(-1px,153px) ; opacity:0.13; }
13.913% { transform:translate(-1px,131px) ; opacity:0.174; }
17.3913% { transform:translate(0px,112px) ; opacity:0.217; }
20.8696% { transform:translate(0px,94px) ; opacity:0.261; }
24.3478% { transform:translate(0px,78px) ; opacity:0.304; }
27.8261% { transform:translate(0px,65px) ; opacity:0.348; }
31.3043% { transform:translate(0px,53px) ; opacity:0.391; }
34.7826% { transform:translate(0px,42px) ; opacity:0.435; }
38.2609% { transform:translate(0px,33px) ; opacity:0.478; }
41.7391% { transform:translate(0px,25px) ; opacity:0.522; }
45.2174% { transform:translate(0px,19px) ; opacity:0.565; }
48.6957% { transform:translate(0px,14px) ; opacity:0.609; }
52.1739% { transform:translate(0px,10px) ; opacity:0.652; }
55.6522% { transform:translate(0px,7px) ; opacity:0.696; }
59.1304% { transform:translate(0px,4px) ; opacity:0.739; }
62.6087% { transform:translate(0px,2px) ; opacity:0.783; }
66.087% { transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { transform:translate(0px,1px) ; opacity:0.87; }
73.0435% { transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { transform:translate(0px,0px) ; opacity:0.957; }
80% { transform:translate(0px,0px) ; opacity:1; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-10 {
0% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
3.4783% { -webkit-transform:translate(-1px,204px) ; opacity:0.043; }
6.9565% { -webkit-transform:translate(-1px,177px) ; opacity:0.087; }
10.4348% { -webkit-transform:translate(-1px,153px) ; opacity:0.13; }
13.913% { -webkit-transform:translate(-1px,131px) ; opacity:0.174; }
17.3913% { -webkit-transform:translate(0px,112px) ; opacity:0.217; }
20.8696% { -webkit-transform:translate(0px,94px) ; opacity:0.261; }
24.3478% { -webkit-transform:translate(0px,78px) ; opacity:0.304; }
27.8261% { -webkit-transform:translate(0px,65px) ; opacity:0.348; }
31.3043% { -webkit-transform:translate(0px,53px) ; opacity:0.391; }
34.7826% { -webkit-transform:translate(0px,42px) ; opacity:0.435; }
38.2609% { -webkit-transform:translate(0px,33px) ; opacity:0.478; }
41.7391% { -webkit-transform:translate(0px,25px) ; opacity:0.522; }
45.2174% { -webkit-transform:translate(0px,19px) ; opacity:0.565; }
48.6957% { -webkit-transform:translate(0px,14px) ; opacity:0.609; }
52.1739% { -webkit-transform:translate(0px,10px) ; opacity:0.652; }
55.6522% { -webkit-transform:translate(0px,7px) ; opacity:0.696; }
59.1304% { -webkit-transform:translate(0px,4px) ; opacity:0.739; }
62.6087% { -webkit-transform:translate(0px,2px) ; opacity:0.783; }
66.087% { -webkit-transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { -webkit-transform:translate(0px,1px) ; opacity:0.87; }
73.0435% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
80% { -webkit-transform:translate(0px,0px) ; opacity:1; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-10 {
0% { transform:translate(-1px,233px) ; opacity:0; }
3.4783% { transform:translate(-1px,204px) ; opacity:0.043; }
6.9565% { transform:translate(-1px,177px) ; opacity:0.087; }
10.4348% { transform:translate(-1px,153px) ; opacity:0.13; }
13.913% { transform:translate(-1px,131px) ; opacity:0.174; }
17.3913% { transform:translate(0px,112px) ; opacity:0.217; }
20.8696% { transform:translate(0px,94px) ; opacity:0.261; }
24.3478% { transform:translate(0px,78px) ; opacity:0.304; }
27.8261% { transform:translate(0px,65px) ; opacity:0.348; }
31.3043% { transform:translate(0px,53px) ; opacity:0.391; }
34.7826% { transform:translate(0px,42px) ; opacity:0.435; }
38.2609% { transform:translate(0px,33px) ; opacity:0.478; }
41.7391% { transform:translate(0px,25px) ; opacity:0.522; }
45.2174% { transform:translate(0px,19px) ; opacity:0.565; }
48.6957% { transform:translate(0px,14px) ; opacity:0.609; }
52.1739% { transform:translate(0px,10px) ; opacity:0.652; }
55.6522% { transform:translate(0px,7px) ; opacity:0.696; }
59.1304% { transform:translate(0px,4px) ; opacity:0.739; }
62.6087% { transform:translate(0px,2px) ; opacity:0.783; }
66.087% { transform:translate(0px,1px) ; opacity:0.826; }
69.5652% { transform:translate(0px,1px) ; opacity:0.87; }
73.0435% { transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { transform:translate(0px,0px) ; opacity:0.957; }
80% { transform:translate(0px,0px) ; opacity:1; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-11 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
3.4783% { -webkit-transform:translate(269px,0px) ; opacity:0.043; }
6.9565% { -webkit-transform:translate(234px,0px) ; opacity:0.087; }
10.4348% { -webkit-transform:translate(202px,0px) ; opacity:0.13; }
13.913% { -webkit-transform:translate(173px,0px) ; opacity:0.174; }
17.3913% { -webkit-transform:translate(147px,0px) ; opacity:0.217; }
20.8696% { -webkit-transform:translate(124px,0px) ; opacity:0.261; }
24.3478% { -webkit-transform:translate(103px,0px) ; opacity:0.304; }
27.8261% { -webkit-transform:translate(85px,0px) ; opacity:0.348; }
31.3043% { -webkit-transform:translate(69px,0px) ; opacity:0.391; }
34.7826% { -webkit-transform:translate(55px,0px) ; opacity:0.435; }
38.2609% { -webkit-transform:translate(44px,0px) ; opacity:0.478; }
41.7391% { -webkit-transform:translate(34px,0px) ; opacity:0.522; }
45.2174% { -webkit-transform:translate(25px,0px) ; opacity:0.565; }
48.6957% { -webkit-transform:translate(18px,0px) ; opacity:0.609; }
52.1739% { -webkit-transform:translate(13px,0px) ; opacity:0.652; }
55.6522% { -webkit-transform:translate(9px,0px) ; opacity:0.696; }
59.1304% { -webkit-transform:translate(5px,0px) ; opacity:0.739; }
62.6087% { -webkit-transform:translate(3px,0px) ; opacity:0.783; }
66.087% { -webkit-transform:translate(2px,0px) ; opacity:0.826; }
69.5652% { -webkit-transform:translate(1px,0px) ; opacity:0.87; }
73.0435% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
80% { -webkit-transform:translate(0px,0px) ; opacity:1; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-11 {
0% { transform:translate(307px,0px) ; opacity:0; }
3.4783% { transform:translate(269px,0px) ; opacity:0.043; }
6.9565% { transform:translate(234px,0px) ; opacity:0.087; }
10.4348% { transform:translate(202px,0px) ; opacity:0.13; }
13.913% { transform:translate(173px,0px) ; opacity:0.174; }
17.3913% { transform:translate(147px,0px) ; opacity:0.217; }
20.8696% { transform:translate(124px,0px) ; opacity:0.261; }
24.3478% { transform:translate(103px,0px) ; opacity:0.304; }
27.8261% { transform:translate(85px,0px) ; opacity:0.348; }
31.3043% { transform:translate(69px,0px) ; opacity:0.391; }
34.7826% { transform:translate(55px,0px) ; opacity:0.435; }
38.2609% { transform:translate(44px,0px) ; opacity:0.478; }
41.7391% { transform:translate(34px,0px) ; opacity:0.522; }
45.2174% { transform:translate(25px,0px) ; opacity:0.565; }
48.6957% { transform:translate(18px,0px) ; opacity:0.609; }
52.1739% { transform:translate(13px,0px) ; opacity:0.652; }
55.6522% { transform:translate(9px,0px) ; opacity:0.696; }
59.1304% { transform:translate(5px,0px) ; opacity:0.739; }
62.6087% { transform:translate(3px,0px) ; opacity:0.783; }
66.087% { transform:translate(2px,0px) ; opacity:0.826; }
69.5652% { transform:translate(1px,0px) ; opacity:0.87; }
73.0435% { transform:translate(0px,0px) ; opacity:0.913; }
76.5217% { transform:translate(0px,0px) ; opacity:0.957; }
80% { transform:translate(0px,0px) ; opacity:1; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@font-face {
	font-family:"Gotham Black";
	font-style:normal;
	font-weight:500;
	src : url("../font/Gotham-Black.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Quadro-de-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Quadro-de-texto-b-sico {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#5c5c5f;
	font-family:"Nunito (TT) Bold", sans-serif;
	font-size:707.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#1f7bbd;
	font-family:"Gotham Black", sans-serif;
	font-size:2232px;
	font-style:normal;
	font-weight:500;
}
#_idContainer000, #_idContainer036 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1925.12px;
}
#_idContainer001 {
	-webkit-transform:translate(0.000px,0.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:385.75px;
}
#_idContainer002 {
	-webkit-transform:translate(0.176px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.176px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:304.84px;
}
#_idContainer003 {
	-webkit-transform:translate(67.322px,56.233px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:54.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(67.322px,56.233px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:94.22px;
}
#_idContainer004 {
	-webkit-transform:translate(156.983px,56.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(156.983px,56.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:160.40px;
}
#_idContainer005 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:385.75px;
}
#_idContainer006 {
	-webkit-transform:translate(490.000px,786.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(490.000px,786.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:385.75px;
}
#_idContainer007 {
	-webkit-perspective:1px;
	height:139px;
	left:146px;
	position:absolute;
	top:316px;
	width:1157px;
}
#_idContainer008 {
	-webkit-perspective:1px;
	height:125px;
	left:76px;
	position:absolute;
	top:177px;
	width:1297px;
}
#_idContainer009 {
	height:1004px;
	left:1214px;
	position:absolute;
	top:76px;
	width:629px;
}
#_idContainer010 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer011, #_idContainer026 {
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer012, #_idContainer025 {
	height:1080px;
	left:0px;
	position:absolute;
	top:0px;
	width:1920px;
}
#_idContainer013 {
	height:280px;
	left:1262px;
	position:absolute;
	top:256px;
	width:409px;
}
#_idContainer014 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:100.00px;
}
#_idContainer015 {
	height:106px;
	left:1149px;
	position:absolute;
	top:387px;
	width:100px;
}
#_idContainer016, #_idContainer027 {
	-webkit-transform:translate(-0.001px,0.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:393.14px;
}
#_idContainer017, #_idContainer028 {
	-webkit-transform:translate(0.180px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.180px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:310.68px;
}
#_idContainer018, #_idContainer029 {
	-webkit-transform:translate(58.972px,57.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.972px,57.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:32.59px;
}
#_idContainer019, #_idContainer030 {
	-webkit-transform:translate(97.725px,45.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(97.725px,45.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.23px;
}
#_idContainer020, #_idContainer031 {
	-webkit-transform:translate(178.478px,57.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(178.478px,57.633px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:159.05px;
}
#_idContainer021, #_idContainer032 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:393.14px;
}
#_idContainer022 {
	height:168px;
	left:0px;
	position:absolute;
	top:0px;
	width:393px;
}
#_idContainer023 {
	-webkit-transform:translate(87.271px,0.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(87.271px,0.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:33.00px;
}
#_idContainer024 {
	height:168px;
	left:1453px;
	position:absolute;
	top:850px;
	width:393px;
}
#_idContainer033 {
	-webkit-transform:translate(1456.856px,839.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1456.856px,839.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:393.14px;
}
#_idContainer034 {
	-webkit-transform:translate(1026.000px,129.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1026.000px,129.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:408.80px;
}
#_idContainer035 {
	-webkit-transform:translate(907.500px,234.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(907.500px,234.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:100.00px;
}
#_idContainer037 {
	height:756px;
	left:1271px;
	position:absolute;
	top:326px;
	width:613px;
}
#_idContainer038 {
	-webkit-perspective:1px;
	height:139px;
	left:146px;
	position:absolute;
	top:255px;
	width:1157px;
}
#_idContainer039 {
	-webkit-perspective:1px;
	height:125px;
	left:76px;
	position:absolute;
	top:116px;
	width:1297px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.250s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.250s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.250s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.250s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:0.250s;
	-webkit-animation-duration:1.250s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.250s;
	animation-duration:1.250s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.125s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.125s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-5 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-4;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-4;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-6 {
	-webkit-animation-delay:1.125s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-5;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:1.125s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-5;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-7 {
	-webkit-animation-delay:2.125s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-6;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:2.125s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-6;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-8 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-name:_idGenKeyFrames-7;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:infinite;
	animation-name:_idGenKeyFrames-7;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-9 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-8;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-8;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-10 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.250s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-9;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.250s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-9;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-11 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.250s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-10;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.250s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-10;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-12 {
	-webkit-animation-delay:0.250s;
	-webkit-animation-duration:1.250s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-11;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.250s;
	animation-duration:1.250s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-11;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	-webkit-transform:translate(0px,104px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(0px,104px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-2 {
	-webkit-transform:translate(0px,109px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(0px,109px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-3 {
	-webkit-transform:translate(307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-4 {
	opacity:0;
}
div._idGenAnimationStart-5 {
	-webkit-transform:translate(-307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-6 {
	-webkit-transform:translate(-1px,233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-7 {
	-webkit-transform:scale(1,1) ;
	-webkit-transform-origin:50% 50%;
	transform:scale(1,1) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-1 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-2 {
	opacity:1;
}
div._idGenAnimationEnd-3 {
	-webkit-transform:scale(1,1) ;
	-webkit-transform-origin:50% 50%;
	transform:scale(1,1) ;
	transform-origin:50% 50%;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
